{deps, [
	{cowboy, "1.0.4",{git, "https://github.com/extend/cowboy.git", "1.0.4"}},
	{sockjs, ".*", {git, "git://github.com/knodejs/sockjs-erlang.git", "master"}},
	{hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
	{couchbeam, ".*", {git, "git://github.com/benoitc/couchbeam.git", {branch, "master"}}},
	{mochiweb, ".*",{git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}},
	{cowdb, ".*", {git, "git://github.com/refuge/cowdb.git", {branch, "master"}}},
	{erlsom, ".*", {git, "git://github.com/willemdj/erlsom.git", {branch, "master"}}},
	{jsonrec, ".*", {git, "git://github.com/EduardSergeev/jsonrec.git", {branch, "master"}}},
	{record_info_runtime, ".*", {git, "git://github.com/okeuday/record_info_runtime.git", {branch, "master"}}},
	{epgsql, ".*", {git, "git://github.com/epgsql/epgsql.git", {branch, "master"}}},
	{cowboy_session, ".*", {git, "git://github.com/chvanikoff/cowboy_session.git", {branch, "master"}}},
	{social, ".*", {git, "git://github.com/dvv/social.git", {branch, "master"}}}
]}.